certifi==2019.11.28
chardet==3.0.4
crypto==1.4.1
idna==2.9
Naked==0.1.31
numpy==1.18.2
opencv-python==4.2.0.32
pafy==0.5.5
pandas==1.0.3
Pillow>=7.1.0
plotly==4.5.4
pycrypto==2.6.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
retrying==1.3.3
shellescape==3.8.1
six==1.14.0
urllib3==1.25.8
youtube-dl==2020.3.24
