<html>
    <head>
        {{video}}
    </head>
    <body>
        <center>
            <img src='/output/{{video}}/level_one.svg'>
            <img src='/output/{{video}}/blue_jungle.svg'>
            <img src='/output/{{video}}/red_jungle.svg'>
            <img src='/output/{{video}}/blue_support.svg'>
            <img src='/output/{{video}}/red_support.svg'>
            <img src='/output/{{video}}/blue_mid.svg'>
            <img src='/output/{{video}}/red_mid.svg'>
            <img src='/output/{{video}}/blue_prox.svg'>
            <img src='/output/{{video}}/red_prox.svg'>
        </center>
    </body>
</html>